<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
        ">
	<!-- 扫描com.mvc.controller包下所有的类，使spring注解生效 -->
	<context:component-scan base-package="com.yonyou.*" />
	<!-- 默认的注解映射的支持 -->
	<mvc:annotation-driven />
	<!-- 对静态资源文件的访问 方案一 （二选一） -->
	<mvc:default-servlet-handler />
	<!-- 定义视图解析器 -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/"></property><!-- 前缀，在springMVC控制层处理好的请求后，转发配置目录下的视图文件 -->
		<property name="suffix" value=".jsp"></property><!-- 文件后缀，表示转发到的视图文件后缀为.jsp -->
	</bean>
</beans>